<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
  <span>Shubham's Portfolio</span>
  <span class="example-spacer"></span>
  <button mat-icon-button matTooltip="About" class="example-icon">
    <mat-icon>contacts</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Projects" class="example-icon">
    <mat-icon>work</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Contact me" class="example-icon">
    <mat-icon>mark_as_unread</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Share" class="example-icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
